<html>
<head>
  <title>
    PSU-Regis-Alert
  </title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,
              minimum-scale=0.4, maximum-scale=1.0" />
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-52133577-3', 'auto');
    ga('send', 'pageview');

  </script>
  <script>
  var _prum = [['id', '549a6bdfabe53d57387cd765'],
               ['mark', 'firstbyte', (new Date()).getTime()]];
  (function() {
      var s = document.getElementsByTagName('script')[0]
        , p = document.createElement('script');
      p.async = 'async';
      p.src = '//rum-static.pingdom.net/prum.min.js';
      s.parentNode.insertBefore(p, s);
  })();
  </script>

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://raw.githubusercontent.com/1000hz/bootstrap-validator/master/dist/validator.min.js"></script>

  <script>
  $(document).ready(function() {
    $('#submitForm').validator({
      custom: {
        minchecked: function ($el) {
          return $el.val().length > 0
        }
      },
      errors: {
        minchecked: 'กรอก email หรือ line id'
      }
    });
    var prev_data = null;
    $("#resultDiv").hide();
    $("#submitForm").submit(function() {

        var url = "/insert"; // the script where you handle the form input.
        var data = $("#submitForm").serialize();

        if(prev_data!=data){
            $.ajax({
                   type: "POST",
                   url: url,
                   data: data,
                   success: function(data)
                   {
                       // show response from the php script.
                       $("#resultDiv").text(data)
                       if(data=="Done"){
                         $("#resultDiv").attr("class", "alert alert-success");
                       }else{
                         $("#resultDiv").attr("class", "alert alert-danger");
                       }
                       $("#resultDiv").show()
                   }
                 });
        }
        prev_data = data;
        return false; // avoid to execute the actual submit of the form.
      });
  });
  </script>

</head>
<body>
      <div style="widht=500px;text-align:center;">
          <div style="display:inline-block;text-align:left;margin:0 auto">
            <div>
              <img src="static/how-to-get-url.png" class="img-responsive" alt="how to get url">
            </div>
            <br>
            <div class="alert alert-success" id="resultDiv" style="display:none">
            </div>
            <form class="form-horizontal" role="form" data-toggle="validator" id="submitForm" action="/insert" method="post">
             <div class="form-group has-feedback">
                 <label class="control-label col-sm-2" for="url">URL:</label>
                 <div class="col-sm-10">
                     <input type="url" pattern="^http.*subject=\d{16}$" class="form-control" id="url_field" name="url" placeholder="Enter Subject URL" data-error="กรอก url ไม่ถูกต้อง" required>
                     <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                     <div class="help-block with-errors"></div>
                   </div>
                 </div>
               <div class="form-group has-feedback">
                   <label class="control-label col-sm-2" for="sec">Section:</label>
                   <div class="col-sm-10">
                     <input type="text" pattern="^(\d\d,)*\d\d$|^\*$" class="form-control" id="sec_field" name="sec" value="*" data-error="ตัวอย่าง: * หรือ 01,02,10" required>
                     <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                     <div class="help-block with-errors"></div>
                   </div>
               </div>
               <div class="form-group has-feedback">
                   <label class="control-label col-sm-2" for="email">Email:</label>
                   <div class="col-sm-10">
                       <input type="email" pattern="^[\w._-]+?@[\w.-]+.\w+$" class="form-control" id="email_field" name="email" placeholder="Enter email" data-minchecked="bar">
                       <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                       <div class="help-block with-errors"></div>
                   </div>
               </div>
               <div class="form-group has-feedback">
                   <label class="control-label col-sm-2" for="line_id">Line ID:</label>
                   <div class="col-sm-10">
                       <input type="text" class="form-control" id="line_id_field" name="line_id" placeholder="Enter Line ID" data-minchecked="bar">
                       <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                       <div class="help-block with-errors"></div>
                   </div>
               </div>
               <div class="form-group">
                     <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-default" id="submit_button" value="submit">Submit</button>
                     </div>
              </div>
            </form>
              <h4>วิธีใช้</h4>
              <ol>
                  <li>เปิดหน้า sis ของวิชาที่ต้องการลงทะเทียนจากระบบค้นหาในหน้าแรกของ sis</li>
                  <li>copy URL ของหน้าวิชาที่ต้องการลงทะเบียน (ดังรูปใหญ่) มาใส่ในช่อง URL</li>
                  <li>กรอก Section ที่ต้องการ เช่น 01,02,10 หรือ * หากถ้าการทั้งหมด</li>
                  <li>กรอก Email หรือ LineID ที่จะให้ทำการแจ้งเตือน</li>
                  <li>กด Submit แล้วรอรับการแจ้งเตือนต่อไป </li>
                  <li>หากได้รับการแจ้งเตือนแล้ว ยังไม่สามารถลงทะเบียนได้ทัน ให้กลับมากรอกฟอร์มใหม่ เพื่อรอรับการแจ้งเตือนต่อไป</li>
                  <dt>หมายเหตุ</dt>
                  <dd>แจ้งเตือนผ่าน Line ให้ add: psuregisalert เป็นเพื่อน แล้ว ทำการเปิด Add by ID ดังรูปก่อน</dd>
              </ol>
              <br><br>
              <div class="row">
                  <div class="col-md-6">
                      <img src="static/line-add-friend.png" class="img-responsive" alt="line add friend">
                  </div>
                  <div class="col-md-6">
                      <img src="static/line-add-by-id.png" class="img-responsive" alt="line add by id">
                  </div>
              </div>
          </div>
        <br>
      </div>
</body>
</html>
