<html>
<head>
  <title>
    PSU-Regis-Alert
  </title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,
              minimum-scale=1.0, maximum-scale=1.0" />
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-52133577-3', 'auto');
    ga('send', 'pageview');

  </script>
  <script>
  var _prum = [['id', '549a6bdfabe53d57387cd765'],
               ['mark', 'firstbyte', (new Date()).getTime()]];
  (function() {
      var s = document.getElementsByTagName('script')[0]
        , p = document.createElement('script');
      p.async = 'async';
      p.src = '//rum-static.pingdom.net/prum.min.js';
      s.parentNode.insertBefore(p, s);
  })();
  </script>
</head>
<body>
      <div style="widht=500px;text-align:center;">
        <div>
          <img src="static/how-to-get-url.png" alt="how to get url">
        </div>
          <br>
          <div style="display:inline-block;text-align:left;margin:0 auto">
            <form action="/insert" method="post">
              url:     <input id="url_field" type="text" name="url" style="width:470px"><br>
              sec:     <input id="sec_field" type="text" name="sec" style="width:470px" value="*"><br>
              email: <input id="email_field" type="text" name="email" style="width:470px"><br>
              <center>
                  <input id="submit_button" type="submit" value="Submit">
              </center>
            </form>
            วิธีใช้<br>
            1.เปิดหน้า sis ของวิชาที่ต้องการลงทะเทียนจากระบบค้นหาในหน้าแรกของ sis<br>
            2. copy url ของหน้าวิชาที่ต้องการลงทะเบียน (ดังรูปใหญ่) มาใส่ในช่อง url<br>
            3. กรอก Sec ที่ต้องการ เช่น 01,02,10 หรือ * หากถ้าการทั้งหมด<br>
            4. กรอก Email ที่จะให้ทำการแจ้งเตือน<br>
            5. กด Submit แล้วรอรับ email<br>
          </div>
        <br>
      </div>
</body>
</html>
